<div class="col-lg-4">
	<div class="small__img">
		<img alt="{{ name }}" title="{{ name }}" class="small__img--responsive" src="{{ imageUrl }}" />
		<p class="small__img--desc">{{ desc }}</p>
	</div>
	<div class="description__container">
		<p class="description__container--name">{{ name }}</p>
		<p class="description__container--city">{{ country }}</p>
	</div>
</div>


